@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h4>
        <div>
            <p>Welcome @ViewBag.User to Hospital Web App</p>
        </div>
    </h4>
        <p>App features are based on account roles</p>
    <hr />
</div>
